
<div id="about" class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="section-heading">
                    <h4>Discover <em>What We Do</em> &amp; Who We Are</h4>
                    <img src="assets/images/heading-line-dec.png" alt="">
                    <p>We made messaging and chatting easier for all new and existing users. Simply use our default rooms as advantage to catch up!</p>
                </div>  
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4><a href="#">General Room</a></h4>
                            <p>Everybody talks here</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4><a href="#">Singles Room</a></h4>
                            <p>Meet the singles</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4><a href="#">Friendship Room</a></h4>
                            <p>Meet a friend</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4><a href="#">Lovers Room (18+)</a></h4>
                            <p>Find love here</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <p>You are soley responsibile for any information shared in any room, discussion or conversation anywhere on this platform.</p>
                        <div class="gradient-button">
                            <a asp-action="create" asp-controller="rooms" asp-route-t="public">Create New Room</a>
                        </div>
                        <span>Holla! Creating one is free...</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-image">
                    <img src="assets/images/about-right-dec.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
