@model Trivesta.Model.ViewModel.RoomsVM
<div class="col-lg-4">
    <div class="box-item">
        <h4><a href="#">General Room</a></h4>
        <p>Everybody talks here</p>
    </div>
</div>
<div class="col-lg-4">
    <div class="box-item">
        <h4><a href="#">Singles Room</a></h4>
        <p>Meet the singles</p>
    </div>
</div>
<div class="col-lg-4">
    <div class="box-item">
        <h4><a href="#">Friendship Room</a></h4>
        <p>Meet a friend</p>
    </div>
</div>
<div class="col-lg-4">
    <div class="box-item">
        <h4><a href="#">Lovers Room (18+)</a></h4>
        <p>Find love here</p>
    </div>
</div>