@model IEnumerable<Trivesta.Model.Room>
@foreach (var room in Model)
{
    <div class="col-lg-4">
        <div class="box-item">
            <h4><a asp-action="index" asp-controller="room" asp-route-t="@room.Tag">@room.Name</a></h4>
            @try
            {
                <p>@room.Description.Substring(0,30)</p>
            }
            catch (Exception)
            {
                <p>@room.Description</p>
            }
        </div>
    </div>
}
@if (Model.Count() < 1)
{
    <partial name="_NoContent" />
}