html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.text-white{
    color:white !important
}

.right-image img {
    width: 30em
}
.push-banner{
    padding-top:11em
}
.forceGraft .box-item{
    border-radius:unset !important;
    overflow:hidden;
    height:6.5em;
    white-space:nowrap !important;
    overflow:hidden;
}
.forceGraft .box-item:hover{
   background-color: rgba(255,255,255,0.8)
}
.box-item {
    white-space: nowrap !important;
    overflow:hidden;
}

.forceGraft {
}
.chatHolder {
   /* overflow-y: scroll;
    height: 63vh;*/
}
.chatboard {
   /* max-height: 35em;*/
}
.chatboard section{
   margin-bottom:1em;
}
.chat-item {
    display: inline-block;
    max-width: 60%;
    padding: 0.7em;
    border-radius: 0.2em;
    box-shadow: rgba(0,0,0,0.1) 1px 1px 3px;
    padding-bottom:0;
    overflow:hidden
}
.chat-item h6{
   font-weight: bold;
    font-size:12px;
    white-space:nowrap;
}
.chat-item p{
    font-size:12px;
    margin-top:-0.4em;
    line-height:16px
}
.chatInput{

}
.chatInput input{
    border:none;
    height:3em;
    width:50%;
    background-color: #eee;
    padding: 0.5em;
    display:inline !important
}
.chatInput input:focus, .chatInput input:active, .chatInput input:hover {
    border: none !important;
    box-shadow: none !important;
    background-color: #eee;
}
.chat-alert{

}
.chat-alert{
    text-align:center
}
.chat-alert span{
    background-color: #eee;
    padding: 0.5em 1em;
    border-radius:2em;
    font-size:12px
}
.room-form input {
    margin-bottom: 0.5em
}
.user_register input, .user_login input {
    margin-top: 0.3em;
    width:100% !important
}
.chatInputHolder {
    position: fixed;
    bottom: 0em;
    background-color: black;
    z-index: 1000;
    font-size: 12px;
    overflow:hidden
}
.chatInputHolder input{
    width: 50%;
    border-radius:unset;
    height:2.3em
}
.chatInputHolder .chatBtn{
    border-radius:unset !important;
    background-color: white;
    height:2.3em;
    margin-top:-0.4em !important
}
.coinBalDisplay, .sort-icon {
    color: white;
    padding: 1em;
    border-right: solid 1px;
    cursor: pointer
}
.coinBalDisplay:active, .sort-icon:active{
    color: white;
    background-color:maroon;
}
/*.sort-icon {
    border-right: solid 1px;
    color: white;
    padding: 1em;
}*/