@{
    ViewData["Title"] = "Home Page";
}

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>Free Instant Chat and Messaging Rooms</h2>
                                    <p>Tivesta is all about catching fun and meeting awesome new people. Jump in and let the good times roll!  #FunTimes #MeetNewPeeps</p>
                                           </div>
                                <div class="col-lg-12">
                                    <div class="white-button first-button scroll-to-section">
                                        <a id="modal_trigger" href="#modal">Sign Up <i class="fa fa-user"></i></a>
                                    </div>
                                    <div class="white-button scroll-to-section">
                                        <a href="#contact">Instant Chat <i class="fa fa-comment"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 flair">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <img src="./assets/images/svg/dialog-bro.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="services" class="services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                    <h4>Amazing <em>Concepts &amp; Features</em> for you</h4>
                    <img src="assets/images/heading-line-dec.png" alt="">
                    <p>From cool chats to meeting awesome new people, it's all about making your experience unforgettable. Enjoy the many free rooms, create rooms, demand rent for your rooms, pay rent for rooms, share coins with willing buyers and watch out for decay</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="service-item first-service">
                    <div class="icon"></div>
                    <h4>Public Rooms</h4>
                    <p>You are not allowed to redistribute this template ZIP file on any other website.</p>
                    <div class="text-button">
                        <a href="#">View Rooms <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-item second-service">
                    <div class="icon"></div>
                    <h4>Private Rooms</h4>
                    <p>You are allowed to use the Chain App Dev HTML template. Feel free to modify or edit this layout.</p>
                    <div class="text-button">
                        <a href="#">View Rooms <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-item third-service">
                    <div class="icon"></div>
                    <h4>Classy Rooms</h4>
                    <p>If this template is beneficial for your work, please support us <a rel="nofollow" href="https://paypal.me/templatemo" target="_blank">a little via PayPal</a>. Thank you.</p>
                    <div class="text-button">
                        <a href="#">View Rooms <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-item fourth-service">
                    <div class="icon"></div>
                    <h4>Personal Rooms</h4>
                    <p>Lorem ipsum dolor consectetur adipiscing elit sedder williamsburg photo booth quinoa and fashion axe.</p>
                    <div class="text-button">
                        <a href="#">View Rooms <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="section-heading">
                    <h4>Discover <em>What We Do</em> &amp; Who We Are</h4>
                    <img src="assets/images/heading-line-dec.png" alt="">
                    <p>We made messaging and chatting easier for all new and existing users. Simply use our default rooms as advantage to catch up!</p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4><a href="#">General Room</a></h4>
                            <p>Everybody talks here</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4><a href="#">Singles Room</a></h4>
                            <p>Meet the singles</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4><a href="#">Friendship Room</a></h4>
                            <p>Meet a friend</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-item">
                            <h4><a href="#">Lovers Room (18+)</a></h4>
                            <p>Find love here</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <p>You are soley responsibile for any information shared in any room, discussion or conversation anywhere on this platform.</p>
                        <div class="gradient-button">
                            <a href="#">Buy Coins Now</a>
                        </div>
                        <span>Instant payment and recharge</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-image">
                    <img src="assets/images/about-right-dec.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="clients" class="the-clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading">
                    <h4>See What <em>Top Performing</em> Rooms Are Doing</h4>
                    <img src="assets/images/heading-line-dec.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eismod tempor incididunt ut labore et dolore magna.</p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-7 align-self-center">
                                <div class="menu">
                                    <div class="first-thumb active">
                                        <div class="thumb">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <h4>David Martino Co</h4>
                                                    <span class="date">30 November 2021</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                                    <span class="category">Financial Apps</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span class="rating">4.8</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <h4>Jake Harris Nyo</h4>
                                                    <span class="date">29 November 2021</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                                    <span class="category">Digital Business</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span class="rating">4.5</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <h4>May Catherina</h4>
                                                    <span class="date">27 November 2021</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                                    <span class="category">Business &amp; Economics</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span class="rating">4.7</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="thumb">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <h4>Random User</h4>
                                                    <span class="date">24 November 2021</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                                    <span class="category">New App Ecosystem</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span class="rating">3.9</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="last-thumb">
                                        <div class="thumb">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <h4>Mark Amber Do</h4>
                                                    <span class="date">21 November 2021</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 d-none d-sm-block">
                                                    <span class="category">Web Development</span>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span class="rating">4.3</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="client-content">
                                                            <img src="assets/images/quote.png" alt="">
                                                            <p>
                                                                “Lorem ipsum dolor sit amet, consectetur adpiscing elit, sed do eismod tempor idunte ut labore et dolore magna aliqua darwin kengan
                                                                lorem ipsum dolor sit amet, consectetur picing elit massive big blasta.”
                                                            </p>
                                                        </div>
                                                        <div class="down-content">
                                                            <img src="assets/images/client-image.jpg" alt="">
                                                            <div class="right-content">
                                                                <h4>David Martino</h4>
                                                                <span>CEO of David Company</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="client-content">
                                                            <img src="assets/images/quote.png" alt="">
                                                            <p>
                                                                “CTO, Lorem ipsum dolor sit amet, consectetur adpiscing elit, sed do eismod tempor idunte ut labore et dolore magna aliqua darwin kengan
                                                                lorem ipsum dolor sit amet, consectetur picing elit massive big blasta.”
                                                            </p>
                                                        </div>
                                                        <div class="down-content">
                                                            <img src="assets/images/client-image.jpg" alt="">
                                                            <div class="right-content">
                                                                <h4>Jake H. Nyo</h4>
                                                                <span>CTO of Digital Company</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="client-content">
                                                            <img src="assets/images/quote.png" alt="">
                                                            <p>
                                                                “May, Lorem ipsum dolor sit amet, consectetur adpiscing elit, sed do eismod tempor idunte ut labore et dolore magna aliqua darwin kengan
                                                                lorem ipsum dolor sit amet, consectetur picing elit massive big blasta.”
                                                            </p>
                                                        </div>
                                                        <div class="down-content">
                                                            <img src="assets/images/client-image.jpg" alt="">
                                                            <div class="right-content">
                                                                <h4>May C.</h4>
                                                                <span>Founder of Catherina Co.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="client-content">
                                                            <img src="assets/images/quote.png" alt="">
                                                            <p>
                                                                “Lorem ipsum dolor sit amet, consectetur adpiscing elit, sed do eismod tempor idunte ut labore et dolore magna aliqua darwin kengan
                                                                lorem ipsum dolor sit amet, consectetur picing elit massive big blasta.”
                                                            </p>
                                                        </div>
                                                        <div class="down-content">
                                                            <img src="assets/images/client-image.jpg" alt="">
                                                            <div class="right-content">
                                                                <h4>Random Staff</h4>
                                                                <span>Manager, Digital Company</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="client-content">
                                                            <img src="assets/images/quote.png" alt="">
                                                            <p>
                                                                “Mark, Lorem ipsum dolor sit amet, consectetur adpiscing elit, sed do eismod tempor idunte ut labore et dolore magna aliqua darwin kengan
                                                                lorem ipsum dolor sit amet, consectetur picing elit massive big blasta.”
                                                            </p>
                                                        </div>
                                                        <div class="down-content">
                                                            <img src="assets/images/client-image.jpg" alt="">
                                                            <div class="right-content">
                                                                <h4>Mark Am</h4>
                                                                <span>CTO, Amber Do Company</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="pricing" class="pricing-tables">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading">
                    <h4>Load Up Coins At <em>Official Prices</em></h4>
                    <img src="assets/images/heading-line-dec.png" alt="">
                    <p>Official coin sales opening is usually in seasons. When off-season, negotitate a deal with willing coin holders</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-item-regular">
                    <span class="price">₦1200</span>
                    <h4>Bronze Package</h4>
                    <div class="icon">
                        <img src="assets/images/pricing-table-01.png" alt="">
                    </div>
                    <ul>
                        <li>1,500 Coins</li>
                        <li class="non-function">Free Private Room</li>
                        <li class="non-function">Free Classy Room</li>
                        <li class="non-function">Free Personal Room</li>
                        <li>2-Weeks Free Decay Shield</li>
                    </ul>
                    <div class="border-button">
                        <a href="#">Purchase This Plan Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-item-pro">
                    <span class="price">₦5000</span>
                    <h4>Silver Package</h4>
                    <div class="icon">
                        <img src="assets/images/pricing-table-01.png" alt="">
                    </div>
                    <ul>
                        <li>8,750 Coins</li>
                        <li>1 Free Private Room</li>
                        <li class="non-function">Free Classy Room</li>
                        <li class="non-function">Free Personal Room</li>
                        <li>1-Months Free Decay Shield</li>
                    </ul>
                    <div class="border-button">
                        <a href="#">Purchase This Plan Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-item-regular">
                    <span class="price">₦15,000</span>
                    <h4>Gold Package</h4>
                    <div class="icon">
                        <img src="assets/images/pricing-table-01.png" alt="">
                    </div>
                    <ul>
                        <li>30,000 Coins</li>
                        <li>1 Free Private Room</li>
                        <li>1 Free Classy Room</li>
                        <li>1 Free Personal Room</li>
                        <li>3-Months Free Decay Shield</li>
                    </ul>
                    <div class="border-button">
                        <a href="#">Purchase This Plan Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

